* {
    font-family: century, Times, serif;
}

header h1 {
  letter-spacing: 25px;
  font-size: 45px;
  text-align: center;
  color: #707070;
}

.menu_debut {

  font-size: 1em;
  text-decoration: underline;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  width: 90%;
  margin: auto;

  color: #707070;
}

.menu_debut div {

  width: 15%;
  margin-top: 0px;
}

 a:hover {

  text-decoration: underline;
  color: #A8A7A7;
}

.menu_debut a:visited {

  color: #707070;

}


img {

height: auto;
width: 100%;

}

 .p1 , .pb {

  width: 50%;
  text-align: justify;
  display: flex;
  margin: auto;
  justify-content: center;
  padding: 20px;
}

#embed_pdf {

width: 75%;
margin: auto;
padding: 20px;
/*height: 100%;*/

display: flex;
}

.sous_titres {

  width: 50%;
  margin: auto;
  text-align: left;
}

#conclusion {

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;

}

.p1_conc {

 width: 50%;
 margin: auto;
 text-align: justify;

}

.p2 {
  width: 25%;
  margin-top: 0px;
  padding-right: 20px;
  text-align: justify;
  font-style: italic;
}

.socials {
  width: 25%;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin-top: 16px;
}

.twitter-share-button {

  padding-top: 20px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  background-color: #A29D9D;
  color: #FFFFFF;
  font-size: 0.7em;
}

.footer_pgauche {

  width: 20%;
  padding: 20px;
  justify-content: flex-start;
}
.menu_fin {

  text-align: left;
  width: 20%;
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.footer_pdroite {

  width: 60%;
  padding: 20px;
  justify-content: flex-end;

}

.menu_fin a:visited {

  color: #FFFFFF;

}
